
.nav {
    .a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        background: transparent;
        color: #d4d4d4;
        font-size: 1em;
        font-weight: bold;
        outline: none;
        font-family: "Nunito Sans", sans-serif; //useful if applied on button element

        padding: 30px 10px;
        margin: 1px 0;
        border: 1px solid transparent;
        border-radius: 2px;

        transition: background-color 0.2s ease-in;

        &:focus, 
        &:hover {
            background: #2e2e2e;
            color: #f4d47c;
            border-right: 1px solid #f4d47c;
            border-left: 1px solid #f4d47c;
        }

        @media screen and (min-width: 550px) { 
            width: 100%;
        }
    }
}