@import './var.less';

header {
  padding: 10px 0;

  @media @large-breakpoint {
    padding: 0;
  }

  .brand-logo {
    width: 160px;
    display: block;
  }
}

@import './nav/nav.less';
@import './nav/navjs.less';
@import './nav/navlinks.less';
