
header {
    padding: 10px 0;

    @media screen and (min-width: 920px) {
        padding: 0;
    }

    .brand-logo {
        width: 200px;
        display: block;
    }
}

@import './nav/nav.less';
@import './nav/navjs.less';
@import './nav/navlinks.less';