
img {
    max-width: 100%;
    height: auto;
}

.height {
    text-shadow: none;
}

body {
    color: #fefefe;
    background: #3a3a3a;
}

.icon {
    width: 100px;
    margin: 0 auto 40px auto;

    img {
        width: 100%;
    }
}