
@import (css) url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');
@import (css) url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    color: #fefefe;
    background: #3a3a3a;
    font-family: "Nunito Sans", sans-serif;
}

li {
    list-style-type: none;
}

article.intro {
    color: #dedede;

    h1 {
        padding: 2px 0;
        border-bottom: 1px solid #dedede;
        margin-bottom: 10px;
    }

    p {
        font-family: "Roboto", sans-serif;
    }
}

.icon {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 10px;

    img {
        width: 100%;
        max-height: 100px;
    }
}

.doc {
    background: #2e2e2e;
    color: rgba(128, 128, 128, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 40px;
}