.nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  background: rgba(62, 62, 62, 0.95);
  width: 100vw;
  height: 100vh;
  /*overflow-y: scroll;*/
}
@media screen and (min-width: 920px) {
  .nav {
    position: static;
    right: unset;
    top: unset;
    z-index: inherit;
    background: transparent;
    width: unset;
    height: unset;
  }
}
.nav .menu-container {
  display: flex;
  flex-direction: column;
  background: #3e3e3e;
  height: inherit;
  max-width: 250px;
  margin: 0 0 0 auto;
  overflow-y: scroll;
  border-left: 1px solid rgba(128, 128, 128, 0.4);
}
@media screen and (min-width: 450px) {
  .nav .menu-container {
    max-width: 280px;
  }
}
@media screen and (min-width: 920px) {
  .nav .menu-container {
    flex-direction: row;
    background: transparent;
    max-width: unset;
    border-left: 0;
  }
}
