button {
  cursor: pointer;
}
.btn {
  background: #2e2e2e;
  color: #f4d47c;
  font-size: 1em;
  text-transform: uppercase;
  padding: 8px 16px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: border 0.2s ease-in;
  outline: none;
}
.btn:hover,
.btn:focus {
  border-radius: 0 10px 0 10px;
  border-right: 1px solid #f4d47c;
  border-left: 1px solid #f4d47c;
}
/*========================================
 specific .btn style for specific sections
 =======================================*/
.nav .btn {
  width: max-content;
  margin: 10px 10px 10px auto;
}
.modal .btn {
  margin-top: 8px;
}
/*======================================*/
@media screen and (min-width: 550px) {
  .btn {
    font-size: 1.1em;
  }
  /*========================================
    specific .btn style for specific sections
    =======================================*/
  .modal .btn {
    margin-top: 10px;
  }
  /*======================================*/
}
