header {
  padding: 10px 0;
}
@media screen and (min-width: 920px) {
  header {
    padding: 0;
  }
}
header .brand-logo {
  width: 160px;
  display: block;
}
.nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  background: rgba(62, 62, 62, 0.97);
  width: 100vw;
  height: 100vh;
  /*overflow-y: scroll;*/
}
@media screen and (min-width: 920px) {
  .nav {
    position: static;
    right: unset;
    top: unset;
    z-index: inherit;
    background: transparent;
    width: unset;
    height: unset;
  }
}
.nav .menu-container {
  display: flex;
  flex-direction: column;
  background: #3a3a3a;
  height: inherit;
  max-width: 250px;
  margin: 0 0 0 auto;
  overflow-y: scroll;
  border-left: 1px solid rgba(128, 128, 128, 0.4);
}
@media screen and (min-width: 450px) {
  .nav .menu-container {
    max-width: 280px;
  }
}
@media screen and (min-width: 920px) {
  .nav .menu-container {
    flex-direction: row;
    background: transparent;
    max-width: unset;
    border-left: 0;
  }
}
/*=====================
Apply both nav-hide and
nav-show on nav element.
Use javascript to add or
remove only nav-hide, so
that the effect will only
be on smaller screens
=======================*/
.nav-hide {
  display: none;
}
@media screen and (min-width: 920px) {
  .nav-hide {
    display: block;
  }
}
.nav .a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  color: #d4d4d4;
  font-size: 1em;
  outline: none;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  padding: 30px 10px;
  margin: 1px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: background-color 0.2s ease-in;
}
.nav .a:focus,
.nav .a:hover {
  background: #2e2e2e;
  color: #f4d47c;
  border-right: 1px solid #f4d47c;
  border-left: 1px solid #f4d47c;
}
@media screen and (min-width: 920px) {
  .nav .a {
    width: unset;
  }
}
